<div class="content-header px-5">
	<a data-toggle="sidebar" class="icon btn mr-2 -ml-2 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden" href="">west</a>

	<div class="flex-shrink-0 font-bold text-heading">All Todo Lists</div>

	<i class="ml-auto"></i>

	<button type="button" class="btn ml-4 h-8 border-[1.5px] border-theme text-md font-bold text-theme hover:bg-theme/10">
		<i class="icon mr-1">add</i>
		New List
	</button>

	<nav class="ml-3 -mr-2 flex items-center text-heading">
		<a class="icon btn hidden hover:bg-light-200 dark:hover:bg-dark-100 sm:flex" href="">chat_bubble_outline</a>
		<a class="icon btn hidden hover:bg-light-200 dark:hover:bg-dark-100 sm:flex" href="">tune</a>
		<a class="icon btn hover:bg-light-200 dark:hover:bg-dark-100" href="">more_horiz</a>
	</nav>
</div>
