<div data-content="sidebar" class="aside aside-screen-md">
	<div class="content-header px-6">
		<div class="flex-1 font-bold text-heading">Todo Lists</div>
		<a href="#" data-toggle="body" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden">east</a>
	</div>

	<div class="p-3" data-simplebar>
		<div class="mb-px flex items-center px-3">
			<div class="flex-1 text-md text-muted">Filters</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">refresh</a>
		</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body" class="active">
					<i class="icon">crop_original</i>
					All Todo Lists
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon relative -top-px">event</i>
					Today
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">schedule</i>
					Upcoming
					<span class="ml-auto inline-block rounded bg-theme py-1 px-2 text-sm font-bold text-white">9</span>
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">flag</i>
					Important
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">archive</i>
					Archive
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">remove_circle_outline</i>
					Deleted Lists
				</a>
			</li>
		</ul>

		<div class="mb-px flex items-center px-3">
			<div class="flex-1 text-md text-muted">Lists</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">add</a>
		</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					Pending Emails
					<span class="ml-auto inline-block rounded bg-theme py-1 px-2 text-sm font-bold text-white">22</span>
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					Leads
					<span class="ml-auto inline-block rounded bg-theme py-1 px-2 text-sm font-bold text-white">34</span>
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					Marketing
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					Pending Tests
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					Project Management
					<span class="ml-auto inline-block rounded bg-theme py-1 px-2 text-sm font-bold text-white">87</span>
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					App Development
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					Personal
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">task_alt</i>
					Work Related
					<span class="ml-auto inline-block rounded bg-theme py-1 px-2 text-sm font-bold text-white">29</span>
				</a>
			</li>
		</ul>
	</div>
</div>
