{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": false,
	"printWidth": 160,
	"bracketSpacing": true,
	"formatOnSave": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false
}
