:root {
	// Theme colors
	--theme-color: 17 130 238;
	--theme-light-100: 240 247 252;
	--theme-light-200: 229 239 248;
	--theme-light-300: 217 231 243;
	--theme-light-400: 206 223 238;
	--theme-light-500: 196 215 233;

	--theme-dark-100: 41 60 72;
	--theme-dark-200: 49 72 87;
	--theme-dark-300: 60 86 103;
	--theme-dark-400: 86 117 138;
	--theme-dark-500: 104 138 160;

	// Body
	--body-bg: 247 250 254;
	--body-color: #37507f;

	// Sidebar
	--sidebar-width: 15rem;
	--sidebar-min-width: 3.875rem;

	// Tooltip
	--tooltip-bg: #1f2e36;
	--tooltip-color: #e0f3ff;

	// Text
	--text-heading: #23416f;
	--text-muted: #627da7;

	// Widgets
	--chart-pie-border: #fff;

	// Close
	--close-bg:
		url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2337507f'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>");
	
		// Scrollbar
	--scrollbar-thumb-bg: #d4e5f5;
	--radio-checked-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2.5' fill='rgb(17 130 238)'/%3e%3c/svg%3e");
}
