<div class="mb-6 flex items-center rounded border border-light-100 font-bold text-heading dark:border-dark-200">
	<a href="" class="flex h-10 flex-1 items-center justify-center hover:bg-light-100 dark:hover:bg-dark-200">
		<i class="icon mr-1 mt-0.5 text-lg">favorite_border</i> {{ likes }} Favourites
	</a>
	<a href="" class="flex h-10 flex-1 items-center justify-center border-l border-light-100 hover:bg-light-100 dark:border-dark-200 dark:hover:bg-dark-200">
		<i class="icon mr-1 mt-0.5 text-lg">chat_bubble_outline</i>
		{{ comments }} Comments
	</a>
</div>
