<div class="mb-4 flex items-start">
	<a href="" class="mr-3">
		<img class="w-10 rounded-full" src="../assets/img/contacts/5.jpg" alt="" />
	</a>
	<div class="flex-1">
		<div class="font-bold text-heading">Malinda Hollaway</div>
		<div class="text-sm text-muted">{{ time }}</div>
	</div>
	<div class="relative" data-tb-dropdown>
		<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" data-tb-dropdown-toggle aria-expanded="false">more_vert</button>
		<div class="dropdown-menu !left-auto !right-0 p-1" data-tb-dropdown-menu>
			<a href="#" data-tb-dropdown-item>Reports</a>
			<a href="#" data-tb-dropdown-item>Activity Logs</a>
			<a href="#" data-tb-dropdown-item>Preferences</a>
		</div>
	</div>
</div>
