<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">Active Users</h4>

		<nav class="ml-auto -mt-2.5 -mr-2.5 flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">assessment</a>
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">download_for_offline</a>
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>

	<div class="-mb-2 text-heading">
		<div class="chart-bordered relative h-60 before:left-[1.75rem] before:top-0 before:h-[calc(100%_-_0.8rem)] before:w-[calc(100%_-_2rem)]">
			<canvas id="chart-active-users" class="relative z-[1]"></canvas>
		</div>

		<div class="flex items-center border-b border-light-200 py-3 dark:border-dark-200">
			<div class="flex-1 font-bold">/index.html</div>
			<div class="flex items-center text-green-500">
				<span class="icon mr-1 font-light">arrow_circle_up</span>
				78%
			</div>
			<div class="ml-3 w-10 text-right font-bold">1480</div>
		</div>
		<div class="flex items-center border-b border-light-200 py-3 dark:border-dark-200">
			<div class="flex-1 font-bold">/downloads/mobile.html</div>
			<div class="flex items-center text-green-500">
				<span class="icon mr-1 font-light">arrow_circle_up</span>
				69%
			</div>
			<div class="ml-3 w-10 text-right font-bold">1143</div>
		</div>
		<div class="flex items-center border-b border-light-200 py-3 dark:border-dark-200">
			<div class="flex-1 font-bold">/pricing.html</div>
			<div class="flex items-center text-red-500">
				<span class="icon mr-1 font-light">arrow_circle_down</span>
				65%
			</div>
			<div class="ml-3 w-10 text-right font-bold">954</div>
		</div>
		<div class="flex items-center border-b border-light-200 py-3 dark:border-dark-200">
			<div class="flex-1 font-bold">/blog/how-to-configure.html</div>
			<div class="flex items-center text-green-500">
				<span class="icon mr-1 font-light">arrow_circle_up</span>
				12%
			</div>
			<div class="ml-3 w-10 text-right font-bold">675</div>
		</div>
		<div class="flex items-center py-3">
			<div class="flex-1 font-bold">/products/design.html</div>
			<div class="flex items-center text-red-500">
				<span class="icon mr-1 font-light">arrow_circle_down</span>
				24%
			</div>
			<div class="ml-3 w-10 text-right font-bold">580</div>
		</div>
	</div>
</div>
