<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">Engagements</h4>

		<nav class="ml-auto -mt-2.5 -mr-2.5 flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>

	<div class="flex items-center border-b border-light-200 py-2 dark:border-dark-200">
		<div class="flex-1">
			<h2 class="-mb-1 text-3xl text-heading">4.970</h2>
			<div class="text-muted">Daily page views per visitor</div>
		</div>
		<div class="flex items-center rounded bg-green-500 py-1 px-3 text-2xl text-white">
			2.5
			<i class="icon ml-2"> trending_up </i>
		</div>
	</div>
	<div class="flex items-center border-b border-light-200 py-2 dark:border-dark-200">
		<div class="flex-1">
			<h2 class="-mb-1 text-3xl text-heading">8.375</h2>
			<div class="text-muted">Daily time on site per about</div>
		</div>
		<div class="flex items-center rounded bg-red-500 py-1 px-3 text-2xl text-white">
			3.2
			<i class="icon ml-2"> trending_down </i>
		</div>
	</div>
	<div class="flex items-center pt-2">
		<div class="flex-1">
			<h2 class="-mb-1 text-3xl text-heading">65.3%</h2>
			<div class="text-muted">Average bounce rate</div>
		</div>
		<div class="flex items-center rounded bg-amber-500 py-1 px-3 text-2xl text-white">
			0.1
			<i class="icon ml-2"> trending_up </i>
		</div>
	</div>
</div>
