<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">Sessions by Channel</h4>

		<nav class="ml-auto -mt-2.5 -mr-2.5 flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>

	<div class="grid grid-cols-2 gap-3 text-center lg:grid-cols-3" id="sessions-channel">
		<!-- Data will load from "js/widgets/website-analytics/sessionsByChannel.js" -->
	</div>
</div>
