<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">Sessions by Country</h4>

		<nav class="ml-auto -mt-2.5 -mr-2.5 flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">assessment</a>
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">download_for_offline</a>
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>
	<div class="pb-3">
		<div id="map-sessions-country" class="mx-auto"></div>

		<div class="chart-bordered relative -mb-3 h-60 before:left-[3.4rem] before:top-[1.9rem] before:h-[calc(100%_-_3.8rem)] before:w-[calc(100%_-_3.6rem)]">
			<canvas id="chart-sessions-country" class="relative z-[1]"></canvas>
		</div>
	</div>
</div>
