<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">User Acquisition</h4>

		<nav class="ml-auto -mt-2.5 -mr-2.5 flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>

	<div class="mb-7 h-60 rounded-md border border-light-200 pb-1.5 pl-2 pt-3 dark:border-dark-200">
		<canvas id="chart-user-acquisition">
			<!-- Chart will load from "js/widgets/website-analytics/userAcquisition.js" -->
		</canvas>
	</div>

	<div class="flex flex-wrap items-center text-heading">
		<i class="mr-3 h-2 w-2 rounded-full bg-[#127f74]"></i>
		<div class="flex-1 font-bold">Organic Search</div>
		<div class="flex w-16 items-center justify-end text-red-500">
			45.1%
			<i class="icon ml-1 font-light">arrow_circle_down</i>
		</div>
		<div class="ml-3 w-10 text-right font-bold">342.5K</div>
		<div class="my-3 h-0.5 w-full bg-light-200 dark:bg-dark-200">
			<div class="h-0.5 rounded bg-teal-500" style="width: 45.1%"></div>
		</div>
	</div>

	<div class="flex flex-wrap items-center text-heading">
		<i class="mr-3 h-2 w-2 rounded-full bg-[#26a69a]"></i>
		<div class="flex-1 font-bold">Paid Search</div>
		<div class="flex w-16 items-center justify-end text-green-500">
			68.6%
			<i class="icon ml-1 font-light">arrow_circle_up</i>
		</div>
		<div class="ml-3 w-10 text-right font-bold">142.5K</div>
		<div class="my-3 h-0.5 w-full bg-light-200 dark:bg-dark-200">
			<div class="h-0.5 rounded bg-[#26a69a]" style="width: 68.6%"></div>
		</div>
	</div>

	<div class="flex flex-wrap items-center text-heading">
		<i class="mr-3 h-2 w-2 rounded-full bg-[#5bbbb2]"></i>
		<div class="flex-1 font-bold">Direct</div>
		<div class="flex w-16 items-center justify-end text-green-500">
			34.6%
			<i class="icon ml-1 font-light">arrow_circle_up</i>
		</div>
		<div class="ml-3 w-10 text-right font-bold">75.3K</div>
		<div class="my-3 h-0.5 w-full bg-light-200 dark:bg-dark-200">
			<div class="h-0.5 rounded bg-[#5bbbb2]" style="width: 34.6%"></div>
		</div>
	</div>

	<div class="flex flex-wrap items-center text-heading">
		<i class="mr-3 h-2 w-2 rounded-full bg-[#92d2cc]"></i>
		<div class="flex-1 font-bold">Others</div>
		<div class="flex w-16 items-center justify-end text-green-500">
			10.2%
			<i class="icon ml-1 font-light">arrow_circle_up</i>
		</div>
		<div class="ml-3 w-10 text-right font-bold">35.7K</div>
		<div class="my-3 h-0.5 w-full bg-light-200 dark:bg-dark-200">
			<div class="h-0.5 rounded bg-[#92d2cc]" style="width: 10.2%"></div>
		</div>
	</div>
</div>
