<div class="content-header px-5">
	<a data-toggle="sidebar" class="icon btn -ml-2 mr-2 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden" href="">west</a>

	<button
		type="button"
		data-tb-modal="#channe-info"
		class="-ml-2 flex items-center rounded px-2 py-1 font-bold text-heading hover:bg-light-200 dark:hover:bg-dark-100"
	>
		Product Releases
		<i class="icon ml-1 mt-0.5">expand_more</i>
	</button>

	<i class="ml-auto"></i>

	<button type="button" class="hidden cursor-pointer rounded-full border border-light-300 px-px dark:border-dark-200 sm:block" data-tb-modal="#channe-info">
		<div class="pointer-events-none flex flex-row-reverse items-center">
			<div class="-ml-1 px-3 text-sm font-bold text-heading">48</div>
			<div class="rounded-full">
				<span class="border-body grid h-7 w-7 place-content-center rounded-full border-2 border-white dark:border-dark-100 bg-purple-400 font-bold text-white">K</span>
			</div>
			<div class="-mr-2 rounded-full">
				<img class="border-body h-7 w-7 rounded-full border-2 border-white dark:border-dark-100" src="../assets/img/contacts/11.jpg" alt="" />
			</div>
			<div class="-mr-2 rounded-full">
				<img class="border-body h-7 w-7 rounded-full border-2 border-white dark:border-dark-100" src="../assets/img/contacts/10.jpg" alt="" />
			</div>
			<div class="-mr-2 rounded-full">
				<img class="border-body h-7 w-7 rounded-full border-2 border-white dark:border-dark-100" src="../assets/img/contacts/9.jpg" alt="" />
			</div>
		</div>
	</button>

	<nav class="-mr-2 ml-3 flex items-center text-heading">
		<a href="" class="btn hidden items-center hover:bg-light-200 dark:hover:bg-dark-100 lg:flex">
			<span class="icon">add</span>
			<span class="ml-1 font-bold">Add a bookmark</span>
		</a>
		<a class="icon btn hidden hover:bg-light-200 dark:hover:bg-dark-100 sm:flex" href="">bookmark</a>
		<a class="icon btn hidden hover:bg-light-200 dark:hover:bg-dark-100 sm:flex" href="">info</a>
		<div class="relative" data-tb-dropdown>
			<a href="" data-tb-dropdown-toggle aria-expanded="false" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100">more_horiz</a>
			<div class="dropdown-menu p-1" data-tb-dropdown-menu>
				<a href="" data-tb-dropdown-item>
					<i class="icon">insert_drive_file</i>
					Files
				</a>
				<a href="" data-tb-dropdown-item>
					<i class="icon">download</i>
					Downloads
				</a>
				<a href="" data-tb-dropdown-item>
					<i class="icon">account_circle</i>
					Workspace Directory
				</a>
				<a href="" data-tb-dropdown-item>
					<i class="icon">people</i>
					User Groups
				</a>
				<a href="" data-tb-dropdown-item>
					<i class="icon">info</i>
					Knowledge Base
				</a>
				<a href="" data-tb-dropdown-item>
					<i class="icon">thumb_up_alt</i>
					Feedback
				</a>
			</div>
		</div>
	</nav>
</div>
