<div data-content="sidebar" class="aside aside-screen-md">
	<div class="content-header px-6">
		<div class="flex-1 font-bold text-heading">Messages</div>
		<a href="#" data-toggle="body" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden">east</a>
	</div>

	<div class="p-3" data-simplebar>
		<div class="mb-px flex items-center px-3">
			<div class="flex-1 text-md text-muted">Channels</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">add</a>
		</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body" class="active">
					<i class="icon">tag</i>
					General
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">tag</i>
					Art and Design
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">tag</i>
					Technology
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">tag</i>
					Announcements
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">tag</i>
					Product Releases
				</a>
			</li>
			<li></li>
		</ul>

		<div class="mb-px flex items-center px-3">
			<div class="flex-1 text-md text-muted">Direct Messages</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">add</a>
		</div>

		<div id="direct-messages">
			<!-- Content will load from "js/template/messages.js" -->
		</div>
	</div>
</div>
