<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">Store Conversion Rate</h4>

		<nav class="ml-auto -mt-2.5 -mr-2.5 flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>

	<div class="flex h-16 items-center rounded-tl-md rounded-tr-md bg-blue-50 px-5 text-heading dark:bg-dark-400/20">
		<i class="icon text-2xl font-light">local_mall</i>
		<div class="flex-1 text-center">
			<div class="font-bold">Added to Cart</div>
			<div class="text-sm">43255 Sessions</div>
		</div>
		<div class="flex w-16 items-center justify-end text-green-500">
			7.8
			<span class="icon ml-1 font-light">arrow_circle_up</span>
		</div>
	</div>
	<div class="flex h-16 items-center bg-blue-100 px-5 text-heading dark:bg-dark-400/40">
		<i class="icon text-2xl font-light">shopping_cart_checkout</i>
		<div class="flex-1 text-center">
			<div class="font-bold">Reached to Checkout</div>
			<div class="text-sm">25487 Sessions</div>
		</div>
		<div class="flex w-16 items-center justify-end text-red-500">
			20.8
			<span class="icon ml-1 font-light">arrow_circle_down</span>
		</div>
	</div>
	<div class="flex h-16 items-center rounded-bl-md rounded-br-md bg-blue-200/90 px-5 text-heading dark:bg-dark-400/60">
		<i class="icon text-2xl font-light">monetization_on</i>
		<div class="flex-1 text-center">
			<div class="font-bold">Converted in to Sale</div>
			<div class="text-sm">5432 Sessions</div>
		</div>
		<div class="flex w-16 items-center justify-end text-red-500">
			32.1
			<span class="icon ml-1 font-light">arrow_circle_down</span>
		</div>
	</div>
</div>
