<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">Device Sessions</h4>

		<nav class="-mr-2.5 -mt-2.5 ml-auto flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>

	<div class="mb-4 flex items-center rounded bg-cyan-500/20 p-1 text-cyan-500">
		<i class="icon ml-2 mr-3 font-light">laptop_mac</i>

		<div class="flex-1">
			<div class="mr-2 flex h-8 items-center justify-end rounded bg-cyan-500 px-2 text-sm font-bold text-white" style="width: 78%">78%</div>
		</div>
		<div class="w-16 pr-3 text-right text-lg font-bold">6435</div>
	</div>

	<div class="mb-4 flex items-center rounded bg-purple-500/20 p-1 text-purple-500">
		<i class="icon ml-2 mr-3 font-light">phone_iphone</i>

		<div class="flex-1">
			<div class="mr-2 flex h-8 items-center justify-end rounded bg-purple-500 px-2 text-sm font-bold text-white" style="width: 46%">46%</div>
		</div>
		<div class="w-16 pr-3 text-right text-lg font-bold">4192</div>
	</div>

	<div class="mb-4 flex items-center rounded bg-blue-500/20 p-1 text-blue-500">
		<i class="icon ml-2 mr-3 font-light">devices</i>

		<div class="flex-1">
			<div class="mr-2 flex h-8 items-center justify-end rounded bg-blue-500 px-2 text-sm font-bold text-white" style="width: 25%">25%</div>
		</div>
		<div class="w-16 pr-3 text-right text-lg font-bold">2543</div>
	</div>

	<div class="mt-3 flex items-center justify-center text-sm text-muted">
		<div class="flex items-center">
			<i class="mr-2 h-2 w-2 rounded-full bg-cyan-400"></i>
			Desktop
		</div>
		<div class="mx-3 flex items-center">
			<i class="mr-2 h-2 w-2 rounded-full bg-purple-400"></i>
			Phone
		</div>
		<div class="mx-3 flex items-center">
			<i class="mr-2 h-2 w-2 rounded-full bg-blue-400"></i>
			Others
		</div>
	</div>
</div>
