<div class="card mb-4 inline-block w-full p-5">
	<div class="mb-4 flex items-start">
		<h4 class="font-bold leading-none text-heading">Returning Customer Rate</h4>

		<nav class="ml-auto -mt-2.5 -mr-2.5 flex items-center">
			<a class="icon btn hover:bg-light-100 dark:hover:bg-dark-200" href="">info</a>
		</nav>
	</div>

	<div class="h-52">
		<canvas id="chart-returning-rate">
			<!-- Chart will load from "js/widgets/e-commerce/returningRate.js" -->
		</canvas>
	</div>
	<div class="mt-3 flex items-center justify-center text-sm text-muted">
		<div class="flex items-center">
			<i class="mr-2 h-2 w-2 rounded-full bg-indigo-500"></i>
			Current Month
		</div>
		<div class="mx-3 flex items-center">
			<i class="mr-2 h-2 w-2 rounded-full bg-slate-300"></i>
			Last Month
		</div>
	</div>
</div>
