<div data-content="sidebar" class="aside aside-screen-md">
	<div class="content-header px-6">
		<div class="flex-1 font-bold text-heading">Photos</div>
		<a href="#" data-toggle="body" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden">east</a>
	</div>

	<div class="p-3" data-simplebar>
		<div class="mb-px flex items-center px-3">
			<div class="flex-1 text-md text-muted">Library</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">add</a>
		</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body" class="active">
					<i class="icon">crop_original</i>
					All Photos
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">play_circle</i>
					Videos
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">people</i>
					Sharing
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">playlist_add_check_circle</i>
					Utilities
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">archive</i>
					Archive
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">remove_circle_outline</i>
					Trash
				</a>
			</li>
		</ul>

		<div class="mb-px flex items-center px-3">
			<div class="flex-1 text-md text-muted">Album</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">add</a>
		</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">photo_album</i>
					Textures & Patterns
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">photo_album</i>
					Business & Work
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">photo_album</i>
					Fashion
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">photo_album</i>
					Food & Drink
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">photo_album</i>
					Arts & Culture
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">photo_album</i>
					Travel
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">photo_album</i>
					Architecture
				</a>
			</li>
		</ul>
	</div>
</div>
