<div class="content-header px-5">
	<a data-toggle="list" class="icon btn -ml-2 mr-2 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden" href="">west</a>

	<div class="hidden font-bold text-heading sm:block">Andre Allison</div>

	<nav class="ml-auto flex items-center">
		<a href="" class="btn h-8 hover:bg-light-200 dark:hover:bg-dark-100">
			<i class="icon">drive_file_rename_outline</i>
			<span class="pl-2 font-bold">Edit</span>
		</a>
		<a href="" class="btn h-8 text-red-500 hover:bg-red-500/10">
			<i class="icon">remove_circle_outline</i>
			<span class="pl-2 font-bold">Delete</span>
		</a>

		<div class="relative" data-tb-dropdown>
			<button type="button" class="icon btn h-8 text-2xl hover:bg-light-200 dark:hover:bg-dark-100" data-tb-dropdown-toggle aria-expanded="false">
				more_horiz
			</button>
			<div class="dropdown-menu p-1" data-tb-dropdown-menu>
				<a href="#" data-tb-dropdown-item>
					<i class="icon">favorite_border</i>
					Mark as Favorite
				</a>
				<a href="#" data-tb-dropdown-item>
					<i class="icon">group</i>
					Move to Group
				</a>
				<a href="#" data-tb-dropdown-item>
					<i class="icon">visibility_off</i>
					Hide from Contacts
				</a>
				<a href="#" data-tb-dropdown-item>
					<i class="icon">label</i>
					Change Label
				</a>
			</div>
		</div>
	</nav>
</div>
