<div data-content="sidebar" class="aside aside-screen-xl">
	<div class="content-header px-6">
		<div class="flex-1 font-bold text-heading">Contacts</div>
		<a href="#" data-toggle="list" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100 xl:hidden">east</a>
	</div>

	<div class="p-3" data-simplebar>
		<div class="mb-2 px-3 text-md text-muted">My Contacts</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="list" class="active">
					<i class="icon">account_circle</i>
					All Contacts
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">favorite_border</i>
					Favorites
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">schedule</i>
					Frequently Contacted
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">people</i>
					Duplicates
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">remove_circle_outline</i>
					Deleted Contacts
				</a>
			</li>
		</ul>

		<div class="mb-2 px-3 text-md text-muted">Groups</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-red-500">bookmark_border</i>
					Most Important
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-green-400">bookmark_border</i>
					Work
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-blue-400">bookmark_border</i>
					Family
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-amber-400">bookmark_border</i>
					Project ABC
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-purple-400">bookmark_border</i>
					Recent Leads
				</a>
			</li>
		</ul>

		<div class="mb-2 px-3 text-md text-muted">Actions</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">file_download</i>
					Import
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">file_upload</i>
					Export
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">print</i>
					Print
				</a>
			</li>
		</ul>
	</div>
</div>
