<div class="card mt-20 mb-4 p-1 md:mt-0">
	<a href="" class="mx-auto -mt-16 block h-40 w-40 md:mt-0 md:h-auto md:w-auto">
		<img class="card rounded-full p-1 md:rounded md:border-0 md:p-0" src="../assets/img/contacts/5.jpg" alt="" />
	</a>
	<div class="p-4">
		<div class="flex items-center font-bold text-heading">
			Malinda Andrew Hollaway

			<i class="ml-auto h-2 w-2 rounded-full bg-green-500"></i>
		</div>

		<div class="mb-3 text-sm text-muted">@malindahollway</div>

		<div class="mb-5">Full stack developer, swimmer, blogging enthusiast, steak lover, youtuber...</div>

		<div class="mb-3 flex items-center rounded">
			<i class="icon w-7 text-xl text-heading">rss_feed</i>
			Followed by 43 People
		</div>
		<div class="mb-3 flex items-center rounded">
			<i class="icon w-7 text-xl text-heading">work_outline</i>
			Developer at ABX Inc.
		</div>
		<div class="mb-3 flex items-center rounded">
			<i class="icon w-7 text-xl text-heading">house</i>
			Lives in St. Lucia
		</div>
		<div class="mb-3 flex items-center rounded">
			<i class="icon w-7 text-xl text-heading">place</i>
			From New Jersey
		</div>
		<div class="flex items-center rounded">
			<i class="icon w-7 text-xl text-heading">school</i>
			Went to University of Newcastle
		</div>
	</div>
</div>
