<div class="content-header px-5">
	<div class="flex flex-shrink-0 items-center text-heading">
		<i class="icon mr-2 text-xl">face</i>
		<span class="font-bold">{{ title }}</span>
	</div>

	<ol class="ml-5 hidden items-center text-md text-muted md:flex">
		<li><a href="#" class="rounded p-1 transition-colors hover:text-body">Tailbreeze</a></li>
		<li class="icon mx-1 text-xs">chevron_right</li>
		<li><a href="#" class="rounded p-1 transition-colors hover:text-body">Application Views</a></li>
		<li class="icon mx-1 text-xs">chevron_right</li>
		<li class="rounded p-1">User</li>
	</ol>

	<i class="ml-auto"></i>

	<div id="date" class="hidden text-muted lg:block"></div>

	<nav class="-mr-2 ml-5 flex items-center">
		<a class="icon btn hover:bg-light-200 dark:hover:bg-dark-100" href="">add_circle_outline</a>
		<a class="icon btn hover:bg-light-200 dark:hover:bg-dark-100" href="">manage_accounts</a>
		<a class="icon btn hover:bg-light-200 dark:hover:bg-dark-100" href="">tune</a>
	</nav>
</div>
