<div class="card mb-4 p-1">
	<div class="relative mb-1 h-64">
		<img class="h-full w-full rounded object-cover" src="../assets/img/misc/profile-cover.jpeg" alt="" />
	</div>

	<nav class="nav-scroll px-1 font-bold text-heading">
		<a href="user-about.html">About</a>
		<a href="user-timeline.html">Timeline</a>
		<a href="user-connections.html">Connections</a>
		<a href="user-pictures.html">Pictures</a>
		<a href="coming-soon.html">Events</a>
		<a href="coming-soon.html">Likes</a>
		<a href="coming-soon.html">Bookmarks</a>
		<a href="coming-soon.html">Activity Log</a>
	</nav>
</div>
