<div class="card mb-4 p-5">
	<div class="mb-4 flex-1 font-bold leading-none text-heading">People you may know</div>

	<div class="-mx-3 -mb-3">
		<a href="" class="flex items-center rounded px-3 py-2 hover:bg-light-100 dark:hover:bg-dark-200">
			<img class="mr-3 w-10 rounded-full" src="../assets/img/contacts/6.jpg" alt="" />
			<div class="flex-1">
				<div class="font-bold text-heading">Adam Parsons Mendez</div>
				<div class="text-sm text-muted">22 Connections</div>
			</div>
		</a>
		<a href="" class="flex items-center rounded px-3 py-2 hover:bg-light-100 dark:hover:bg-dark-200">
			<img class="mr-3 w-10 rounded-full" src="../assets/img/contacts/7.jpg" alt="" />
			<div class="flex-1">
				<div class="font-bold text-heading">John Willis Menjivar</div>
				<div class="text-sm text-muted">43 Connections</div>
			</div>
		</a>
		<a href="" class="flex items-center rounded px-3 py-2 hover:bg-light-100 dark:hover:bg-dark-200">
			<img class="mr-3 w-10 rounded-full" src="../assets/img/contacts/13.jpg" alt="" />
			<div class="flex-1">
				<div class="font-bold text-heading">Dedra Martin Fleming</div>
				<div class="text-sm text-muted">312 Connections</div>
			</div>
		</a>
		<a href="" class="flex items-center rounded px-3 py-2 hover:bg-light-100 dark:hover:bg-dark-200">
			<img class="mr-3 w-10 rounded-full" src="../assets/img/contacts/9.jpg" alt="" />
			<div class="flex-1">
				<div class="font-bold text-heading">Sharon Diaz Meacham</div>
				<div class="text-sm text-muted">90 Connections</div>
			</div>
		</a>
		<a href="" class="flex items-center rounded px-3 py-2 hover:bg-light-100 dark:hover:bg-dark-200">
			<img class="mr-3 w-10 rounded-full" src="../assets/img/contacts/10.jpg" alt="" />
			<div class="flex-1">
				<div class="font-bold text-heading">Susana Lanigan Wolf</div>
				<div class="text-sm text-muted">3 Connections</div>
			</div>
		</a>
	</div>
</div>
