<div class="content-header px-5">
	<a data-toggle="sidebar" class="icon btn mr-2 -ml-2 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden" href="">west</a>

	<div class="flex-shrink-0 font-bold text-heading">All files and folders</div>

	<i class="ml-auto"></i>

	<div id="date" class="hidden text-md text-muted lg:block"></div>

	<nav class="ml-3 hidden items-center text-heading md:flex">
		<a class="icon btn hidden hover:bg-light-200 dark:hover:bg-dark-100 sm:flex" href="">info</a>
		<a class="icon btn hidden hover:bg-light-200 dark:hover:bg-dark-100 sm:flex" href="">tune</a>
	</nav>

	<button type="button" class="btn ml-2 h-8 border-[1.5px] border-theme text-md font-bold text-theme hover:bg-theme/10">
		<i class="icon mr-1">upload</i>
		Create
	</button>
</div>
