<div data-content="sidebar" class="aside aside-screen-md">
	<div class="content-header px-6">
		<div class="flex-1 font-bold text-heading">File Manager</div>
		<a href="#" data-toggle="body" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100 xl:hidden">east</a>
	</div>

	<div class="p-3" data-simplebar>
		<div class="mb-2 flex items-center px-3">
			<div class="flex-1 text-md text-muted">Local Drive</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">refresh</a>
		</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body" class="active">
					<i class="icon">article</i>
					All files and folders
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">people</i>
					Shared with me
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">schedule</i>
					Recently added
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">outbox</i>
					Transfers
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">alarm</i>
					Scheduled
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">remove_circle_outline</i>
					Deleted files
				</a>
			</li>
		</ul>

		<div class="mb-2 flex items-center px-3">
			<div class="flex-1 text-md text-muted">Favourites</div>
			<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">refresh</a>
		</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">headset</i>
					Audio and Music
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">play_circle</i>
					Videos
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">image</i>
					Pictures
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">description</i>
					Documents
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">folder_zip</i>
					Archives
				</a>
			</li>
		</ul>

		<div class="p-3">
			<div class="mb-2 text-md text-muted">Storage Information</div>
			<div class="flex items-start">
				<i class="icon mr-3">save</i>
				<div class="flex-1">
					23.5GB of 150 GB Used
					<div class="mt-2 rounded bg-light-300 dark:bg-dark-200">
						<div class="h-1 rounded bg-theme dark:bg-blue-600" style="width: 44%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
