<div class="content-header px-5">
	<a data-toggle="sidebar" class="icon btn -ml-2 mr-2 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden" href="">west</a>

	<div class="flex-shrink-0 font-bold text-heading">All Issues</div>

	<i class="ml-auto"></i>

	<ul class="flex font-bold">
		<li class="relative hidden sm:block" data-tb-dropdown>
			<a href="" data-tb-dropdown-toggle aria-expanded="false" class="btn h-8 hover:bg-light-200">
				<i class="icon -mx-1">info</i>
				<span class="ml-2.5 hidden sm:block">Severity</span>
			</a>
			<div class="dropdown-menu p-1" data-tb-dropdown-menu>
				<a href="" data-tb-dropdown-item>All</a>
				<a href="" data-tb-dropdown-item>Severe</a>
				<a href="" data-tb-dropdown-item>High</a>
				<a href="" data-tb-dropdown-item>Medium</a>
				<a href="" data-tb-dropdown-item>Low</a>
			</div>
		</li>

		<li class="relative" data-tb-dropdown>
			<a href="" data-tb-dropdown-toggle aria-expanded="false" class="btn h-8 hover:bg-light-200">
				<i class="icon -mx-1">account_circle</i>
				<span class="ml-2.5 hidden sm:block">Assignee</span>
			</a>
			<div class="dropdown-menu p-1" data-tb-dropdown-menu>
				<a href="" data-tb-dropdown-item>Everyone</a>
				<a href="" data-tb-dropdown-item>Kelli Wallace</a>
				<a href="" data-tb-dropdown-item>Cory Fletcher</a>
				<a href="" data-tb-dropdown-item>Gerard Curtis</a>
				<a href="" data-tb-dropdown-item>Allan Copeland</a>
				<a href="" data-tb-dropdown-item>Doyle Newton</a>
				<a href="" data-tb-dropdown-item>Carl Rodriquez</a>
				<a href="" data-tb-dropdown-item>Priscilla Todd</a>
			</div>
		</li>

		<li class="relative" data-tb-dropdown>
			<a href="" data-tb-dropdown-toggle aria-expanded="false" class="btn h-8 hover:bg-light-200">
				<i class="icon -mx-1">sort</i>
				<span class="ml-2.5 hidden sm:block">Sort by</span>
			</a>
			<div class="dropdown-menu p-1" data-tb-dropdown-menu>
				<a href="" data-tb-dropdown-item>Newest</a>
				<a href="" data-tb-dropdown-item>Oldest</a>
				<a href="" data-tb-dropdown-item>Most Commented</a>
				<a href="" data-tb-dropdown-item>Recently Updated</a>
			</div>
		</li>
	</ul>

	<button type="button" class="btn ml-4 h-8 border-[1.5px] border-theme text-md font-bold text-theme hover:bg-theme/10">
		<i class="icon mr-1">add</i>
		Create
	</button>
</div>
