<div data-content="sidebar" class="aside aside-screen-md">
	<div class="content-header px-6">
		<div class="flex-1 font-bold text-heading">Issues</div>
		<a href="#" data-toggle="body" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden">east</a>
	</div>

	<div class="p-3" data-simplebar>
		<div class="mb-2 px-3 text-md text-muted">Actions</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body" class="active">
					<i class="icon">info</i>
					All Issues
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">check_box</i>
					Projects
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">outbox</i>
					Releases
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">analytics</i>
					Insights
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">description</i>
					Logs
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="icon">tune</i>
					Settings
				</a>
			</li>
		</ul>

		<div class="mb-2 px-3 text-md text-muted">Labels</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="body">
					<i class="mr-3 h-2 w-2 rounded-full bg-red-400"></i>
					Bug
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="mr-3 h-2 w-2 rounded-full bg-green-400"></i>
					Optimization
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="mr-3 h-2 w-2 rounded-full bg-blue-400"></i>
					Suggestion
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="mr-3 h-2 w-2 rounded-full bg-red-400"></i>
					Discussion
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="mr-3 h-2 w-2 rounded-full bg-purple-400"></i>
					Future
				</a>
			</li>
			<li>
				<a href="#" data-toggle="body">
					<i class="mr-3 h-2 w-2 rounded-full bg-cyan-400"></i>
					Version 3.1.2
				</a>
			</li>
		</ul>
	</div>
</div>
