<header
	class="relative z-20 flex h-16 flex-shrink-0 items-center rounded-b-lg bg-theme text-white shadow-md shadow-theme/20 dark:bg-[#1b2931] dark:text-heading dark:shadow-none print:hidden"
>
	<!-- Logo -->
	<div class="flex flex-shrink-0 items-center px-5 lg:w-[var(--sidebar-width)]">
		<button
			id="sidebar-toggle"
			type="button"
			class="-ml-2 mr-2 grid h-9 w-9 place-content-center rounded font-light hover:bg-white/10 dark:hover:bg-dark-100 xl:hidden"
		>
			<i class="icon text-2xl font-light">dock_to_right</i>
		</button>

		<include src="./partials/misc/_logo.html"></include>

		<span class="hidden text-lg font-bold leading-none sm:block">Tailbreeze Pro</span>
	</div>

	<!-- Search -->
	<div id="search">
		<div class="relative mx-auto max-w-3xl flex-1 focus-within:text-heading">
			<include src="./partials/misc/_search-icon.html">
				{ "classlist": "absolute inset-y-0 left-3.5 my-auto w-3 transition-colors duration-300" }
			</include>

			<input
				id="search-input"
				class="h-11 w-full rounded bg-slate-100 bg-white/20 pl-9 pr-4 transition-colors duration-300 placeholder:text-white focus:bg-slate-100 focus:placeholder:text-body dark:bg-dark-100 dark:placeholder:text-body"
				type="text"
				placeholder="Search for files, contacts, photos etc."
			/>

			<i class="icon btn absolute bottom-0 right-1.5 top-0 my-auto h-7 w-7 font-light hover:bg-white/20 dark:hover:bg-dark-200">tune</i>
		</div>
	</div>

	<i class="ml-auto"></i>

	<!-- CTA -->

	<!-- Top right menu -->
	<ul class="flex items-center pr-2">
		<!-- Mobile search toggle -->
		<li class="mx-1 block lg:hidden">
			<button
				type="button"
				id="search-toggle"
				class="icon grid h-9 w-9 place-content-center rounded text-2xl font-light hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				<svg viewBox="0 0 24 24" fill="none" class="w-4">
					<path
						d="M10.486.986a10.02 10.02 0 0 0-10 10 10.02 10.02 0 0 0 10 10c2.396 0 4.597-.851 6.322-2.264l1.678 1.678 2.985 2.985a1 1 0 0 0 .711.307 1 1 0 0 0 .717-.293 1 1 0 0 0 .293-.717 1 1 0 0 0-.307-.711l-4.663-4.663c1.413-1.725 2.264-3.926 2.264-6.322a10.02 10.02 0 0 0-10-10zm0 2c4.43 0 8 3.57 8 8s-3.57 8-8 8-8-3.57-8-8 3.57-8 8-8z"
						fill="currentColor"
					/>
				</svg>
			</button>
		</li>

		<!-- Notifications -->
		<li class="dropdown-header mx-1" data-tb-dropdown>
			<button
				type="button"
				data-tb-dropdown-toggle
				aria-expanded="false"
				class="icon relative grid h-9 w-9 place-content-center rounded text-2xl font-light hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				notifications

				<include src="./partials/misc/_notification-ping.html"></include>
			</button>

			<div data-tb-dropdown-menu tabindex="0">
				<div class="flex h-full flex-col">
					<div class="flex items-center px-5 py-2">
						<div class="font-bold text-heading">Notifications</div>
						<nav class="-mr-1 ml-auto flex items-center">
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">done_all</button>
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">tune</button>
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">launch</button>
						</nav>
					</div>

					<div class="mb-1 flex-1 p-1 pt-0" data-simplebar>
						<div id="top-nav-notification"></div>
					</div>
				</div>
			</div>
		</li>

		<!-- Messages -->
		<li class="dropdown-header mx-1" data-tb-dropdown>
			<button
				type="button"
				data-tb-dropdown-toggle
				aria-expanded="false"
				class="icon relative grid h-9 w-9 place-content-center rounded text-2xl font-light hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				chat

				<include src="./partials/misc/_notification-ping.html"></include>
			</button>

			<div data-tb-dropdown-menu tabindex="0">
				<div class="flex h-full flex-col">
					<div class="flex items-center px-5 py-2">
						<div class="font-bold text-heading">Messages</div>
						<nav class="-mr-1 ml-auto flex items-center">
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">add_circle_outline</button>
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">call</button>
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">fullscreen</button>
						</nav>
					</div>

					<div class="flex-1 p-1 pt-0" data-simplebar>
						<div id="top-nav-message"></div>
					</div>
				</div>
			</div>
		</li>

		<!-- Tasks -->
		<li class="dropdown-header mx-1 hidden sm:block" data-tb-dropdown>
			<button
				type="button"
				data-tb-dropdown-toggle
				aria-expanded="false"
				class="icon relative grid h-9 w-9 place-content-center rounded text-2xl font-light hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				check_circle
			</button>

			<div data-tb-dropdown-menu tabindex="0">
				<div class="flex h-full flex-col">
					<div class="mb-3 flex items-center px-5 py-2">
						<div class="font-bold text-heading">Tasks</div>
						<nav class="-mr-1 ml-auto flex items-center">
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">task_alt</button>
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">launch</button>
						</nav>
					</div>

					<div class="flex-1 p-1 pt-0" data-simplebar>
						<div id="top-nav-task"></div>
					</div>
				</div>
			</div>
		</li>

		<!-- Shortcuts -->
		<li class="dropdown-header mx-1 hidden sm:block" data-tb-dropdown>
			<button
				type="button"
				data-tb-dropdown-toggle
				aria-expanded="false"
				class="icon relative grid h-9 w-9 place-content-center rounded text-2xl font-light hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				apps
			</button>

			<div data-tb-dropdown-menu tabindex="0">
				<div class="flex h-full flex-col">
					<div class="flex items-center px-5 py-2">
						<div class="font-bold text-heading">App Shortcuts</div>
						<nav class="-mr-1 ml-auto flex items-center">
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">add_circle_outline</button>
							<button type="button" class="icon btn hover:bg-light-100 dark:hover:bg-dark-300/50">delete</button>
						</nav>
					</div>

					<div class="flex-1 p-5 pt-3" data-simplebar>
						<div id="top-nav-shortcut" class="grid grid-cols-3 gap-3"></div>
					</div>
				</div>
			</div>
		</li>

		<!-- Preferences -->
		<li class="dropdown-header mx-1 hidden sm:block" data-tb-dropdown>
			<button
				type="button"
				data-tb-dropdown-toggle
				aria-expanded="false"
				class="icon relative grid h-9 w-9 place-content-center rounded text-2xl font-light hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				settings
			</button>

			<div class="" data-tb-dropdown-menu tabindex="0">
				<include src="./partials/_preferences.html"></include>
			</div>
		</li>

		<!-- Language -->
		<li class="relative mx-1 hidden md:block" data-tb-dropdown>
			<button
				type="button"
				data-tb-dropdown-toggle
				aria-expanded="false"
				title="Language"
				class="icon grid h-9 w-9 place-content-center rounded hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				<img class="h-4 rounded-sm" src="../assets/img/flags/england.svg" alt="" />
			</button>

			<div class="w-32 rounded-tr p-1" data-tb-dropdown-menu tabindex="0">
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<img class="mr-3 h-5 rounded-sm" src="../assets/img/flags/china.svg" alt="" />
					Chinese
				</a>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<img class="mr-3 h-5 rounded-sm" src="../assets/img/flags/france.svg" alt="" />
					France
				</a>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<img class="mr-3 h-5 rounded-sm" src="../assets/img/flags/germany.svg" alt="" />
					Germany
				</a>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<img class="mr-3 h-5 rounded-sm" src="../assets/img/flags/japan.svg" alt="" />
					Japan
				</a>
			</div>
		</li>

		<!-- Profile -->
		<li class="relative mx-1" data-tb-dropdown>
			<button
				type="button"
				data-tb-dropdown-toggle
				aria-expanded="false"
				title="Profile"
				class="icon grid h-9 w-9 place-content-center rounded hover:bg-white/10 aria-expanded:bg-white/20 dark:hover:bg-dark-100 dark:aria-expanded:bg-dark-100"
			>
				<img class="w-7 rounded-full" src="../assets/img/contacts/5.jpg" alt="" />
			</button>

			<div class="rounded-tr p-1" data-tb-dropdown-menu>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<i class="icon me-2">account_circle</i>
					Profile
				</a>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<i class="icon me-2">paid</i>
					Billing
				</a>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<i class="icon me-2">settings</i>
					Settings
				</a>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<i class="icon me-2">help_outline</i>
					Help and Support
				</a>
				<a href="" class="flex items-center" data-tb-dropdown-item>
					<i class="icon me-2">logout</i>
					Sign Out
				</a>
			</div>
		</li>
	</ul>
</header>

<!-- LocalStorage modal -->
<div data-tb-modal-window id="modal-localstorage-data" tabindex="-1">
	<div data-tb-modal-dialog class="p-5">
		<div class="mb-5 flex items-start">
			<div class="flex-1">
				<h4 class="-mt-px mb-2 font-bold leading-none text-heading">LocalStorage Data</h4>
				<div class="text-muted">Following LocalStorage items are currently being used.</div>
			</div>
			<button type="button" class="btn-close -mr-1 -mt-1 hover:bg-light-100 dark:hover:bg-dark-200" data-tb-modal-dismiss></button>
		</div>

		<pre class="pre scrollbar mb-5"><code id="pref-localstorage-data"></code></pre>

		<div class="flex items-start border-b border-slate-100 pb-3 font-bold text-heading dark:border-dark-200">
			<div class="w-32 flex-shrink-0">Property</div>
			<div class="flex-1">Description</div>
		</div>
		<div class="flex items-start border-b border-slate-100 py-3 dark:border-dark-200">
			<div class="w-32 flex-shrink-0">
				<code>theme</code>
			</div>
			<div class="flex-1">Used to determine the dark/light mode of the template.</div>
		</div>
		<div class="flex items-start pt-3">
			<div class="w-32 flex-shrink-0">
				<code>theme-color</code>
			</div>
			<div class="flex-1">Used to determine the light mode theme colors.</div>
		</div>
	</div>
</div>

<!-- About modal -->
<div data-tb-modal-window id="modal-about" tabindex="-1">
	<div data-tb-modal-dialog class="p-5">
		<div class="mb-5 flex items-center">
			<div class="flex-1">
				<h4 class="-mt-px font-bold leading-none text-heading">Tailbreeze Admin</h4>
			</div>
			<button type="button" class="btn-close -my-2 -mr-1 hover:bg-light-100 dark:hover:bg-dark-300/50" data-tb-modal-dismiss aria-label="Close"></button>
		</div>

		<img class="mb-5 w-full rounded" src="../assets/img/misc/preview.png" alt="" />

		<p>Tailbreeze is a powerful-lightweight, fully responsive admin template based on vanilla js and TailwindCSS.</p>
	</div>
</div>
