<div class="fixed left-0 top-0 z-50 h-full w-full overflow-hidden bg-body transition-opacity duration-300" id="page-loader">
	<div class="rounded-b-lg bg-theme text-white shadow-md shadow-theme/20 dark:bg-[#1b2931] dark:text-heading dark:shadow-none">
		<div class="flex h-16 animate-pulse items-center">
			<div class="flex flex-shrink-0 items-center px-5 lg:w-[var(--sidebar-width)]">
				<i class="mr-5 h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200 xl:hidden"></i>
				<include src="./partials/misc/_logo.html"></include>
				<i class="hidden h-1.5 rounded-lg bg-white/20 dark:bg-dark-200 sm:block" style="width: 100px"></i>
			</div>

			<div class="hidden flex-1 px-3.5 lg:block">
				<div class="mx-auto flex h-11 w-full max-w-3xl items-center rounded bg-white/20 px-3.5 dark:bg-dark-100">
					<include src="./partials/misc/_search-icon.html">{ "classlist": "w-3 mr-3" }</include>
					<i class="h-1 rounded-lg bg-white/30 dark:bg-dark-300" style="width: 150px"></i>
				</div>
			</div>

			<i class="ml-auto"></i>

			<div class="ml-2 flex flex-shrink-0 items-center gap-5 pr-5">
				<i class="h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200"></i>
				<i class="h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200"></i>
				<i class="h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200"></i>
				<i class="h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200"></i>
				<i class="hidden h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200 sm:block"></i>
				<i class="hidden h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200 sm:block"></i>
				<i class="hidden h-6 w-6 rounded-full bg-white/20 dark:bg-dark-200 sm:block"></i>
			</div>
		</div>
	</div>

	<div class="flex animate-pulse items-start">
		<div class="hidden w-56 flex-shrink-0 px-6 py-4 xl:block">
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 120px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 100px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 140px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 80px"></i>
			</div>
			<div class="mb-12 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 130px"></i>
			</div>

			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 120px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 100px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 140px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 100px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 80px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 110px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 100px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 130px"></i>
			</div>
			<div class="mb-12 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 110px"></i>
			</div>

			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 120px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 100px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 140px"></i>
			</div>
			<div class="mb-5 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 80px"></i>
			</div>
			<div class="mb-12 flex items-center">
				<i class="mr-3 h-4 w-4 flex-shrink-0 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 130px"></i>
			</div>
		</div>

		<div class="flex h-screen flex-1 flex-col px-5 py-3.5">
			<div class="flex items-center xl:pl-4">
				<i class="mr-5 h-4 w-4 rounded-full bg-light-300 dark:bg-dark-200"></i>
				<i class="mr-10 h-1.5 rounded-lg bg-light-300 dark:bg-dark-200" style="width: 100px"></i>

				<i class="mr-5 hidden h-1 rounded-lg bg-light-300 dark:bg-dark-200 md:block" style="width: 60px"></i>
				<i class="hidden h-1 rounded-lg bg-light-300 dark:bg-dark-200 md:block" style="width: 60px"></i>

				<i class="ml-auto hidden h-5 w-5 rounded-full bg-light-300 dark:bg-dark-200 sm:block"></i>
				<i class="ml-3 hidden h-5 w-5 rounded-full bg-light-300 dark:bg-dark-200 sm:block"></i>
				<i class="ml-3 hidden h-5 w-5 rounded-full bg-light-300 dark:bg-dark-200 sm:block"></i>
			</div>

			<div class="flex flex-1 pb-16 xl:pr-64">
				<div
					class="m-auto inline-block h-10 w-10 animate-spin rounded-full border-2 border-light-500 border-r-transparent dark:border-dark-300 dark:border-r-transparent"
					role="status"
				>
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>
	</div>
</div>
