<div class="flex h-full flex-col">
	<div class="px-5 py-3.5">
		<div class="font-bold text-heading">Preferences</div>
	</div>

	<div class="flex-1 p-5 pt-3" data-simplebar>
		<div class="mb-5 grid grid-cols-3 gap-3">
			<button type="button" id="pref-fullscreen"></button>

			<div class="relative grid place-items-center rounded-lg border border-light-200">
				<img class="flex-shrink-0 opacity-25" src="../assets/img/demo/dark-mode-preview.png" alt="Dark mode preview" />

				<span class="absolute w-9 rounded bg-theme py-0.5 text-center text-sm font-bold leading-none text-white">Pro</span>
			</div>

			<button type="button" id="pref-zoom"></button>

			<div class="relative col-span-3 grid place-items-center rounded-lg border border-light-200">
				<img class="flex-shrink-0 opacity-25" src="../assets/img/demo/theme-colors-preview.png" alt="Theme colors preview" />

				<span class="absolute w-9 rounded bg-theme py-0.5 text-center text-sm font-bold leading-none text-white">Pro</span>
			</div>

			<button
				data-tb-modal="#modal-localstorage-data"
				type="button"
				class="rounded-lg border border-light-200 bg-light-100/50 p-3 text-center transition-colors duration-300 hover:bg-light-100"
			>
				<i class="icon -mt-0.5 mb-1 inline-block text-2xl font-light">web_asset</i>
				<div class="text-sm font-bold leading-tight text-heading">LocalStorage Data</div>
			</button>

			<a href="" class="rounded-lg border border-light-200 bg-light-100/50 p-3 text-center transition-colors duration-300 hover:bg-light-100">
				<i class="icon -mt-0.5 mb-1 inline-block text-2xl font-light">refresh</i>
				<div class="text-sm font-bold leading-tight text-heading">Refresh Content</div>
			</a>

			<button
				data-tb-modal="#modal-about"
				type="button"
				class="flex flex-col items-center rounded-lg border border-light-200 bg-light-100/50 p-3 transition-colors duration-300 hover:bg-light-100"
			>
				<i class="icon -mt-0.5 mb-1 inline-block text-2xl font-light">info</i>
				<div class="text-sm font-bold leading-tight text-heading">About <br />MA 3.0</div>
			</button>
		</div>

		<!-- Reset -->
		<button type="button" id="pref-reset" class="-m-3 mt-auto rounded p-2 px-3 text-md text-muted hover:text-body">Reset to Default Settings</button>
	</div>
</div>
