<div data-content="sidebar" class="aside aside-screen-md">
	<div class="p-3" data-simplebar>
		<div class="mb-5 text-right md:hidden">
			<button data-toggle="body" type="button" class="btn h-7 bg-blue-500 text-sm font-medium text-white hover:bg-blue-600">Show Calendar</button>
		</div>

		<div id="calendar-navigate" class="mb-6 hidden md:block"></div>

		<div class="px-3">
			<div class="mb-3 flex items-center">
				<div class="flex-1 text-md text-muted">My Calendars</div>
				<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">add</a>
			</div>
			<div id="calendar-list" class="mb-7"><!-- Content will load from "js/template/calendar.js" --></div>
		</div>

		<div class="mb-6">
			<div class="mb-px flex items-center px-3">
				<div class="flex-1 text-md text-muted">Current Events</div>
				<a href="" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100">add</a>
			</div>

			<div id="calendar-events">
				<!-- Content will load from "js/template/calendar.js" -->
			</div>
		</div>
	</div>
</div>
