<div class="content-header px-5">
	<a data-toggle="list" class="icon btn mr-2 -ml-2 hover:bg-light-200 dark:hover:bg-dark-100 md:hidden" href="">west</a>

	<div id="content-search" class="absolute left-0 top-0 hidden h-8 w-full bg-body px-5 md:relative md:block md:px-0">
		<div class="flex items-center pt-2 md:pt-0">
			<i class="icon relative mr-2 text-2xl">manage_search</i>
			<input id="content-search-input" type="text" class="h-8 w-full flex-1 bg-transparent placeholder:text-muted" placeholder="Search in Mail" />
			<button data-toggle="search" type="button" class="icon btn text-lg hover:bg-light-200 dark:hover:bg-dark-100 md:hidden">close</button>
		</div>
	</div>

	<nav class="ml-auto flex items-center">
		<button type="button" data-toggle="search" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100 md:hidden">manage_search</button>
		<a href="" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100">report</a>
		<a href="" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100">archive </a>
		<a href="" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100">remove_circle_outline</a>
		<a href="" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100">mark_email_unread</a>
		<a href="" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100">schedule</a>
		<a href="" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100">more_horiz</a>
	</nav>
</div>
