<div data-content="list" class="aside aside-screen-md xl:w-96">
	<div class="content-header px-3">
		<a data-toggle="sidebar" class="icon btn mr-2 hover:bg-light-200 dark:hover:bg-dark-100 xl:hidden" href="">west</a>

		<div class="font-bold text-heading md:hidden xl:block">Inbox</div>

		<a data-toggle="content-sidebar" class="icon btn ml-auto hover:bg-light-200 dark:hover:bg-dark-100" href="">mark_email_unread</a>
		<a data-toggle="content-sidebar" class="icon btn hover:bg-light-200 dark:hover:bg-dark-100" href="">sort</a>

		<button type="button" class="btn ml-2 h-8 border-[1.5px] border-theme text-md font-bold text-theme hover:bg-theme/10">Compose</button>
	</div>

	<div id="mail-list" class="p-3" data-simplebar>
		<!--  Content will load from "js/template/mail.js" -->
	</div>
</div>
