<div data-content="sidebar" class="aside aside-screen-xl">
	<div class="content-header px-6">
		<div class="flex-1 font-bold text-heading">Mail</div>
		<a href="#" data-toggle="list" class="icon btn -mr-3 hover:bg-light-200 dark:hover:bg-dark-100 xl:hidden">east</a>
	</div>

	<div class="p-3" data-simplebar>
		<div class="mb-2 px-3 text-md text-muted">Mailboxes</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="list" class="active">
					<i class="icon">inbox</i>
					Inbox
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">star_border</i>
					Starred
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">schedule</i>
					Scheduled
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">flag</i>
					Important
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">forward_to_inbox</i>
					Sent Mails
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">insert_drive_file</i>
					Drafts
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">info</i>
					Spam
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon">remove_circle_outline</i>
					Trash
				</a>
			</li>
		</ul>

		<div class="mb-2 px-3 text-md text-muted">Categories</div>

		<ul class="nav-hover mb-6 font-bold text-heading">
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-red">label</i>
					Promotions
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-green-400">label</i>
					Social
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-blue-400">label</i>
					Work
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-amber-400">label</i>
					Updates
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-purple-400">label</i>
					Forums
				</a>
			</li>
			<li>
				<a href="#" data-toggle="list">
					<i class="icon text-cyan-400">label</i>
					Conversations
				</a>
			</li>
		</ul>
	</div>
</div>
